<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengjunlee.service.mapper.UserMapper">

    <select id="listSearchEntity" resultType="com.pengjunlee.domain.SearchEntity">
        SELECT id AS value , nick_name AS label FROM tbl_sys_user
        <where>
            INSTR(roles,'merchant')>0
        </where>
    </select>

    <select id="pageUserByCond" resultType="com.pengjunlee.domain.UserEntity">
        SELECT * FROM tbl_sys_user
        <where>
            <if test="1">
                AND INSTR(roles,'merchant')>0
            </if>

            <if test="contactPhone !=null and contactPhone != ''">
                AND contact_phone LIKE "%"#{contactPhone}"%"
            </if>
            <if test="enabled !=null and enabled !=''">
                AND enabled = #{enabled}
            </if>
            <if test="id !=null and id !=''">
                AND id = #{id}
            </if>
        </where>
        <choose>
            <when test="sortBy !=null and sortOrder != null">
                ORDER BY ${sortBy} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY id asc
            </otherwise>
        </choose>

        <if test="offset != null and limit != null">
            LIMIT ${offset},${limit}
        </if>

    </select>

    <select id="countUserByCond" resultType="int">
        select count(id) from tbl_sys_user
        <where>
            <if test="1">
                AND INSTR(roles,'merchant')>0
            </if>

            <if test="contactPhone !=null and contactPhone != ''">
                AND contact_phone LIKE "%"#{contactPhone}"%"
            </if>
            <if test="enabled !=null">
                AND enabled = #{enabled}
            </if>

        </where>
    </select>


</mapper>